<!DOCTYPE html>
<html>
    <head>
        <meta name="charset" value="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>Some Text Here</p>
        {{> footer}}
    </body>
</html>