<!DOCTYPE html>
<html>
    <head>
        <meta name="charset" value="utf-8">
        <title>Some web page</title>
    </head>
    <body>
        {{> header}}
        
        <p>{{screamIt welcomeText}}</p>
        {{> footer}}
    </body>
</html>